@media(max-width:904px){
    .header-right ul {
        margin: auto;
        margin-top: 4px;
        text-align: center;
    }
    .header-right {
        width: 100%;
        text-align: center;
    }
    .header-left {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:918px){
.fixed-width {
    width: 100%;
    margin: auto;
}
.service-item {
    width: 98%;
    border: 1px solid;
    margin: 10px 10px;
}
}

@media(max-width:618px){
    .header-right ul li a {
        font-size: 13px;
        padding: 0px 21px;
        line-height: 50px;
    }
    .banner {
        padding: 130px 0px;}
}


@media(max-width:462px){
    .fixed-width {
        width: 100%;
        margin: auto;
    }
    .header-right ul li a {
        border:none;
    }
}
@media(max-width:446px){
    .fixed-width {
        width: 100%;
        margin: auto;
    }
    .banner {
        padding: 90px 0px;
    }
}

@media(max-width:810px){
    .blog-left {
        width: 100%;
        margin-right: 20px;
    }
    .blog-left-content {
        margin-bottom: 76px;
    }
    .blog-right {
        width: 100%;
    }
}
@media(max-width:528px){
    .footer-left {
        width: 100%;
        text-align: center;
        margin: 5px 0px;
    }
    .footer-right ul li a {
        font-size: 15px;
        display: inline-block;
    }
    .footer-right {
        text-align: center;
        margin-right: 0px;
        float: none;
    }
}